<% layout("listings/layouts/boilerplate.ejs") -%>


<div class="container text-center py-5">

    <img src="https://cdn-icons-png.flaticon.com/512/2748/2748558.png"
         width="180"
         class="mb-4">

    <h1 class="display-3 fw-bold">
        404
    </h1>

    <h3>Oops! Page Not Found</h3>

    <p class="text-muted">
        The page you're looking for doesn't exist.
    </p>

    <a href="/listings" class="btn btn-dark mt-3">
        Back to Home
    </a>

</div>